@model IList<TeamProjects2.Models.ViewRequest>


@{
    ViewBag.Title = "ViewRequest";
}

<h2>View Request</h2>


<div class="table-responsive">
  <table class="table table-hover">
    <tr>
        <th>Request ID</th>
        <th>Module</th>
        <th>Day</th>
        <th>Period</th>
        <th>Weeks</th>
        <th>Semester</th>
        <th>Status</th>
    </tr>
      @{string strWeeks = "";}


        @foreach (var item in Model) 
        {
            strWeeks = (item.week1 == 1 ? "1," : "") +
                    (item.week2 == 1 ? "2," : "") +
                    (item.week3 == 1 ? "3," : "") +
                    (item.week4 == 1 ? "4," : "") +
                    (item.week5 == 1 ? "5," : "") +
                    (item.week6 == 1 ? "6," : "") +
                    (item.week7 == 1 ? "7," : "") +
                    (item.week8 == 1 ? "8," : "") +
                    (item.week9 == 1 ? "9," : "") +
                    (item.week10 == 1 ? "10," : "") +
                    (item.week11 == 1 ? "11," : "") +
                    (item.week12 == 1 ? "12," : "") +
                    (item.week13 == 1 ? "13," : "") +
                    (item.week14 == 1 ? "14," : "") +
                    (item.week15 == 1 ? "15," : "");  
            
            if(strWeeks.EndsWith(","))
            {
                strWeeks = strWeeks.TrimEnd(',');
            }
            <tr>
                <td>@item.requestID</td>
                <td>@item.moduleTitle</td> 
                <td>@item.day</td>
                <td>@item.periodStart - @item.periodEnd</td>
                <td>@strWeeks</td>
                <td>@item.semester</td>
                <td>@item.status</td> 
            </tr>
        }
      
  </table>
</div>