@model IList<TeamProjects.Models.Request>


@{
    ViewBag.Title = "ViewRequest";
}

<h2>View Request</h2>


<div class="table-responsive">
  <table class="table table-hover">
    <tr><th>Request ID</th><th>Module</th><th>Day</th><th>Period</th><th>Weeks</th><th>Semester</th><th>Status</th></tr>
      
         @foreach (var item in Model) { 
<tr>
        <td>@item.requestID</td>
        <td></td> 
        <td>@item.day</td>
        <td>@item.periodStart - @item.periodEnd</td>
        <td></td>
        <td>@item.semester</td>
        <td>@item.status</td> 
</tr>
 }
      
  </table>
</div>

